#scheibe{
  width: 400px;
  position: absolute;
  
}
#scheibeklein{
  width: 400px;
  position: absolute;
  /*transform: rotate(-41.5deg);*/
  transition: all 2s;
  
}
#container{
  width:400px;
  height:400px;
  border:10px dotted hotpink;
}